@using EntityLayer.Concrete
@model List<SocialMedia>


<div class="social-links">
    @foreach (var item in Model)
    {
        <a href="@item.SocialMediaUrl" target="_blank" class="twitter"><i class="@item.SocialMediaIcon"></i></a>
    }
</div>
