@model EntityLayer.Concrete.WriterMessage
@{
    ViewData["Title"] = "AddMessage";
    Layout = "~/Areas/Writer/Views/Shared/_WriterLayout.cshtml";
}

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-3">
            <a href="/Writer/Message/AddMessage/" class="btn btn-dark btn-block mb-3">Yeni Mesaj Gönder</a>

            <!-- WriterMessageFolders row -->
            @await Component.InvokeAsync("WriterMessageFolders")
            <!-- /.WriterMessageFolders row -->
            <!-- WriterMessageLabels row -->
            @await Component.InvokeAsync("WriterMessageLabels")
            <!-- /.WriterMessageLabels row -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">
            <div class="card card-dark card-outline">
                <div class="card-header">
                    <h3 class="card-title">Yeni Mesaj Oluştur</h3>
                </div>
                <!-- /.card-header -->
                <form method="post">
                    <div class="card-body">

                        <div class="form-group">
                            <input class="form-control" name="Receiver" placeholder="Kime:">
                        </div>
                        <div class="form-group">
                            <input class="form-control" name="Subject" placeholder="Konu:">
                        </div>
                        <div class="form-group">
                            <div class="form-group">
                                <label>Aşağıdan etiket seçebilirsiniz.</label>
                            </div>
                            <div class="form-group clearfix">
                                <div class="icheck-danger d-inline">
                                    <input type="radio" name="Label" value="Important" id="Important">
                                    <label for="Important">
                                        Önemli
                                    </label>
                                </div>
                                <div class="icheck-warning d-inline ml-2">
                                    <input type="radio" name="Label" value="Promotions" id="Promotions">
                                    <label for="Promotions">
                                        Promosyon
                                    </label>
                                </div>
                                <div class="icheck-primary d-inline ml-2">
                                    <input type="radio" name="Label" value="Social" id="Social">
                                    <label for="Social">
                                        Sosyal
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea id="compose-textarea" name="MessageContent" class="form-control"></textarea>
                        </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <div class="float-right">
                            <button type="submit" class="btn btn-dark"><i class="far fa-envelope"></i> Gönder</button>
                        </div>
                        <a href="/Writer/Message/ReceiverMessage/" class="btn btn-default"><i class="fas fa-times"></i> Vazgeç</a>
                    </div>
                </form>
                <!-- /.card-footer -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
