<!-- Small boxes (Stat box) -->
<div class="row">
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info shadow">
            <div class="inner">
                <h3>@ViewBag.SkillCount <sup style="font-size: 20px">Adet</sup></h3>

                <p>Yeteneklerim Sayısı</p>
            </div>
            <div class="icon">
                <i class="fas fa-tasks"></i>
            </div>
            <a href="/Admin/Skill/Index/" class="small-box-footer">Daha Fazla Bilgi <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-success shadow">
            <div class="inner">
                <h3>@ViewBag.MessageNoRead <sup style="font-size: 20px">Adet</sup></h3>

                <p>Okunmamış Mesaj Sayısı</p>
            </div>
            <div class="icon">
                <i class="far fa-envelope"></i>
            </div>
            <a href="/Admin/ContactMessage/Index/" class="small-box-footer">Daha Fazla Bilgi <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-pink shadow">
            <div class="inner">
                <h3>@ViewBag.MessageYesRead <sup style="font-size: 20px">Adet</sup></h3>

                <p>Okunmuş Mesaj Sayısı</p>
            </div>
            <div class="icon">
                <i class="far fa-envelope-open"></i>
            </div>
            <a href="/Admin/ContactMessage/Index/" class="small-box-footer">Daha Fazla Bilgi <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-danger">
            <div class="inner">
                <h3>@ViewBag.ResumeCount <sup style="font-size: 20px">Adet</sup></h3>

                <p>Çalışılan Firma Sayısı</p>
            </div>
            <div class="icon">
                <i class="far fa-id-card"></i>
            </div>
            <a href="/Admin/Resume/Index/" class="small-box-footer">Daha Fazla Bilgi <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
</div>
<!-- /.row -->