    <div class="col-lg-3">
        <!-- small box -->
        <div class="small-box bg-indigo shadow">
            <div class="inner">
                <h3>@ViewBag.PortfolioCount <sup style="font-size: 20px">Adet</sup></h3>

                <p>Referanslarım Sayısı</p>
            </div>
            <div class="icon">
                <i class="fas fa-users"></i>
            </div>
            <a href="/Admin/Portfolio/Index/" class="small-box-footer">Daha Fazla Bilgi <i class="fas fa-arrow-circle-right"></i></a>
        </div>
        <!-- small box -->
        <div class="small-box bg-purple shadow">
            <div class="inner">
                <h3>@ViewBag.ServiceCount <sup style="font-size: 20px">Adet</sup></h3>

                <p>Hizmetlerim Sayısı</p>
            </div>
            <div class="icon">
                <i class="fas fa-laptop-code"></i>
            </div>
            <a href="/Admin/Service/Index/" class="small-box-footer">Daha Fazla Bilgi <i class="fas fa-arrow-circle-right"></i></a>
        </div>
        <!-- small box -->
        <div class="small-box bg-lightblue shadow">
            <div class="inner">
                <h3>@ViewBag.InterestCount <sup style="font-size: 20px">Adet</sup></h3>

                <p>İlgi Alanlarım Sayısı</p>
            </div>
            <div class="icon">
                <i class="fab fa-steam-square"></i>
            </div>
            <a href="/Admin/Interest/Index/" class="small-box-footer">Daha Fazla Bilgi <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
</div>